body {
  padding-top: 5rem;
  font-family: 'Karla', sans-serif;

}

.container {
         margin-top: 10px;

}

.storyimg{
      width: 200px;
}


h1{
  font-family: Karla;
font-style: normal;
font-weight: bold;
line-height: 0px;
font-size: 20px !important;

color: #333333;
padding-top:26px;

}


h2{
font-family: Karla;
font-style: normal;
font-weight: normal;
line-height: 18px;
font-size: 12px !important;

color: #999999;
padding-top:10px;


}

.diagram-text, .text-tl{
  font-family: Karla;
  font-size: 12px;
  fill: #999999;
  text-transform: uppercase;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.toolTip{
  position: absolute;
}
.domain path{
  stroke: #fff;
}
.tick line{
  stroke: none;
}
.tick text{
  fill: #999999;
}
.line {
  fill: none;
  stroke: #0FB5B1;
  stroke-width: 2px;
}
.line2 {
  fill: none;
  stroke: #FFCF56;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
  stroke-dasharray: 5;
}

.grid path {
  stroke-width: 0;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #0FB5B1;
  stroke: rgba(15, 181, 177, 0.5);
  stroke-width: 5px;
}
  

.focus2 circle {
  fill: #FFCF56;
  stroke: rgba(255, 207, 86, 0.5);
  stroke-width: 5px;
}
  
.hover-line2 {
  stroke: lightgrey;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}


.xAxis text{
  display: none;
}

.xAxis path{
  stroke: lightgrey;
}

.yAxis path{
  stroke: lightgrey;
}

.filter{
  height: 700px;
  background-color: white;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);  float: left;
  position: fixed;
  left: 35px;
  padding-left:33px;  
padding-right:33px; 
overflow: none;

}
.pic{
  height: 400px;
  background-color: white;
  margin-right: :10px;
      padding-top: 38px;
  
}
.graph{
  height: 400px;
  background-color: white;
  margin-left:10px;
  right: -10px;
}

.cost{
  height: 580px;
  background-color: white;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);  margin-bottom: 30px;
  float: right;
  right: -25px;
  padding-left:33px;  
padding-right:33px; 

}
.stress{
  height: 500px;
  background-color: white;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);  margin-bottom: 30px;
  float: right;
  right: -25px;
  padding-left:33px;  
padding-right:33px; 
}
.reflection{
  height: 500px;
  background-color: white;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);  margin-bottom: 30px;
  float: right;
  right: -25px;
  padding-left:33px;  
padding-right:33px; 
}

#fakeheader{
    z-index: 0;
    margin-top: -122px;
        position: fixed;
}

label {
    margin-bottom: 0px;
    font-family: Karla;
font-style: normal;
font-weight: normal;
line-height: 14px;
font-size: 12px;

color: #999999;
padding-bottom: 10px;

}

.option{
  font-family: Karla;
font-style: normal;
font-weight: bold;
line-height: 24px;
font-size: 14px;
padding-top:13px;
padding-bottom: 5px;
display: block;
}

.btn-light {
    background-color: #fff !important;
    border-color: #333 !important;
}

.dropdown.bootstrap-select {
    padding-bottom: 10px;
    display: block;
    font-size: 12px;

}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #10C7C2;
}

.fa{
  color: #C5C5C5;
  padding-left:10px;
}
i.fa.fa-chevron-down {
  color:#333333;
  cursor: pointer;
}

i.fa.fa-plus-circle{
    line-height: 14px;
font-size: 14px;
color: #10C7C2;
  cursor: pointer;

}

.card-header {
    background: none !important;
    border: 0px #fff !important;
    padding: 0px;
        cursor: pointer;
}

.card{
    background: none !important;
    border: 0px #fff !important;
    padding: 0px;
}
.cmspan{
  line-height: 14px;
font-size: 12px;

color: #10C7C2;
  cursor: pointer;
font-family: Karla;
font-style: normal;
font-weight: normal;
  margin-left: 53px;

}

#thebutton{
  width: 231px;
height: 38px;
background: #10C7C2;
border-radius: 5px;
color: #fff;
border: none !important;
cursor: pointer;
font-weight: bold;
line-height: 24px;
font-size: 16px;
display: block;
  margin-left: 43px;
  margin-top:13px;

}
#thebutton:hover{
  background: #0FB5B1;
  transition: 0.3s;
}

#savefornever{
  font-family: Karla;
font-style: normal;
font-weight: normal;
line-height: 18px;
font-size: 12px;
text-decoration-line: underline;
color: #999999;
     margin-left: 115px;
    margin-top: 14px;
    display: block;
}

#card2{
  display: none;
}

.badge.badge-secondary{
  line-height: 18px;
text-align: center;
color: #212534;
background: #fff;
border: 1px solid #333 !important;
box-sizing: border-box;
border-radius: 3px;
font-style: normal;
font-weight: normal;
    margin-bottom: 5px;
    display: inline-block;
    line-height: 20px;
    text-align: left;
      cursor: move;
      font-family: Karla;
font-style: normal;
font-weight: normal;

    text-decoration: none;
    font-size: 12px !important;


}

.story{
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 12px;
color: #333333;

}

text {
font-family: Karla;
font-style: normal;
font-weight: bold;
line-height: 18px;
font-size: 10px;
text-transform: uppercase;
color: #999999 !important;
}


.yAxis{
font-family: Karla;
font-style: normal;
font-weight: bold;
line-height: 18px;
font-size: 10px;
text-transform: uppercase;

color: #999999;

}

.xAxis {
    font-family: Karla;
font-style: normal;
font-weight: bold;
line-height: 18px;
font-size: 10px;
text-transform: uppercase;

color: #999999;
}

#sortable,#sortable2{
      padding: 0px !important;
}

.card-body{
  padding-top: 0px !important;
}

.deets{
height: 38px;
background: #fff;
border-radius: 5px;
color: #10C7C2;
border: 2px solid #10C7C2 !important;
cursor: pointer;
font-weight: bold;
display: block;
  margin-left: 43px;
  margin-top:13px;
  line-height: 15px;
font-size: 12px;
text-align: center;
text-transform: uppercase;
    position: absolute;
    left: 31%;
    top: 85%;
}

.deets:hover{
  background: #10C7C2;
  color: #fff;
  transition: 0.5s;

}

    input[type='radio']:after {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid #eee;
    }

    input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #10C7C2;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid #eee;
    }


    #cardone{
          background: none !important;
    border: 0px #fff !important;
    padding: 0px;
    border-left: 3px solid #10C7C2 !important;
    margin-left: -18px;
    padding-left:18px;
    }

    #radio1{
      display: none;
    }

    .bg-light {
    z-index: 999999;
    height: 50px;
    background: #ffcf56 !important;
    position: relative;
    width: 100%;
    box-shadow: none !important;
    margin-top: -81px;
}

.navbar-nav {

    margin-left: 700px;
}

i.fa.fa-user {
    border-radius: 50%;
    border: 2px solid #535447;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    padding-left: 5px;
        color: #535447;

}

.navbar-light .navbar-nav .nav-link {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 12px;
    text-transform: uppercase;
    color: #535447;
        margin-right: 43px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #535447;
        border-bottom: 2px solid;

}

a.navbar-brand {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 16px;
    color: #535447;
}

.btn {
    font-size: 12px;
  }
  .dropdown-item.active, .dropdown-item:active{
    color: #fff;
    text-decoration: none;
    background-color: #10C7C2;
    font-size: 12px !important;
}


button.btn.dropdown-toggle.btn-light {
    padding-top: 3px;
    padding-bottom: 3px;
}

.card-body {
    padding-bottom: 0px;
}

a.dropdown-item {
    font-size: 12px;
}

.content {
	overflow: hidden;
	padding: 5px;
	position: relative;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	border:2px solid #eee;
	border-radius: 5px;
}

.stack__item img {
    width: 60%;
    display: block;
    pointer-events: none;
}

.stack {

    height: 300px;
}

button.button.button--sonar.button--reject {
    font-size: 12px;
        font-family: Karla;
    text-transform: uppercase;
        width:100px;
        color:#0eb5b1;
            border: 1px solid;
    border-radius: 2px;
    padding: 0px !important;
    line-height: 23px;
    height: inherit;
}

button.button.button--sonar.button--accept {
    font-size: 12px;
        font-family: Karla;
    text-transform: uppercase;
    width:100px;
    color:#ffcf56;
        border: 1px solid;
    border-radius: 2px;
    padding: 0px !important;
    line-height: 23px;
    height: inherit;
}

.controls {
    position: relative;
    width: 300px;
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    margin-left: -42px;
}




