body {
  padding-top: 5rem;
  font-family: 'Karla', sans-serif;
}

.container {
    margin-top: -70px;
}

h1{
	font-family: Karla;
font-style: normal;
font-weight: bold;
line-height: 29px;
font-size: 20px;

color: #333333;
padding-top:26px;

}


h2{
font-family: Karla;
font-style: normal;
font-weight: normal;
line-height: 18px;
font-size: 14px;

color: #999999;
padding-top:10px;


}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.filter{
	height: 500px;
 	background-color: white;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 	float: left;
 	position: fixed;
 	left: 35px;
 	padding-left:33px;	
padding-right:33px;	
overflow: none;

}

.cost{
 	height: 500px;
 	background-color: white;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 	margin-bottom: 30px;
 	float: right;
 	right: -25px;
 	padding-left:33px;	
padding-right:33px;	

}
.stress{
	height: 500px;
	background-color: white;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);	margin-bottom: 30px;
	float: right;
	right: -25px;
	padding-left:33px;	
padding-right:33px;	
}
.reflection{
	height: 500px;
	background-color: white;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);	margin-bottom: 30px;
	float: right;
	right: -25px;
	padding-left:33px;	
padding-right:33px;	
}

#fakeheader{
	position: fixed;
    top: -50px;
}

label {
    margin-bottom: .5rem;
    font-family: Karla;
font-style: normal;
font-weight: normal;
line-height: 14px;
font-size: 14px;

color: #999999;
padding-bottom: 10px;

}

.option{
	font-family: Karla;
font-style: normal;
font-weight: bold;
line-height: 24px;
font-size: 16px;
padding-top:30px;
padding-bottom: 15px;
display: block;
}

.btn-light {
    background-color: #fff !important;
    border-color: #333 !important;
}

.dropdown.bootstrap-select {
    padding-bottom: 25px;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #10C7C2;
}

.fa{
	color: #C5C5C5;
	padding-left:10px;
}
i.fa.fa-chevron-down {
	color:#333333;
	cursor: pointer;
}

i.fa.fa-plus-circle{
		line-height: 14px;
font-size: 14px;
color: #10C7C2;
	cursor: pointer;

}

.card-header {
    background: none !important;
    border: 0px #fff !important;
    padding: 0px;
}

.card{
    background: none !important;
    border: 0px #fff !important;
    padding: 0px;
}
.cmspan{
	line-height: 14px;
font-size: 14px;

color: #10C7C2;
	cursor: pointer;
font-family: Karla;
font-style: normal;
font-weight: normal;

}

#thebutton{
	width: 231px;
height: 38px;
background: #10C7C2;
border-radius: 5px;
color: #fff;
border: none !important;
cursor: pointer;
font-weight: bold;
line-height: 24px;
font-size: 16px;
display: block;
}
#thebutton:hover{
	background: #0FB5B1;
	transition: 0.3s;
}

#savefornever{
	font-family: Karla;
font-style: normal;
font-weight: normal;
line-height: 18px;
font-size: 14px;
text-decoration-line: underline;
color: #999999;
}

#card2{
	display: none;
}

.badge.badge-secondary{
	line-height: 18px;
font-size: 14px;
text-align: center;
color: #999999;
background: #fff;
border: 1px solid #999999;
box-sizing: border-box;
border-radius: 3px;
font-style: normal;
font-weight: normal;
    margin-bottom: 5px;

}